.form-container {
  margin: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #006f8f;
}
