<h2>Création d'un nouveau ticket</h2>

<form [formGroup]="ticketForm" (ngSubmit)="onSubmitForm()">
  <div class="form-group">
    <label for="title">Titre :</label>
    <input
      type="text"
      id="title"
      class="form-control"
      formControlName="title"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Description :</label>
    <textarea
      id="description"
      class="form-control"
      formControlName="description"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="author">Auteur :</label>
    <input
      type="text"
      id="author"
      class="form-control"
      formControlName="author"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Créer le ticket</button>
</form>
